@import '../../components/mixins';

.not-found-page {
  margin: 0 auto;
  padding: 62px;

  max-width: 500px;

  @include attention-Block-style;

  text-align: center;
  p {
    font-size: 42px;
    font-weight: 700;
  }
  button {
    @include button-style;

    padding: 10px;

    width: 50%;
    height: 100%;

    font-size: 22px;
    font-weight: 500;

    color: rgb(46, 46, 46);
  }
}

.workInProgressPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    margin-top: 20px;
  }

  @media screen and (max-width: 730px) {
    max-width: 400px;
  }
  p {
    font-size: 18px;
  }

  img {
    @media screen and (max-width: 730px) {
      width: 400px;
    }
  }
}
