@import '../mixins';

.sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 1080px) {
    justify-content: center;
  }

  &__categories {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);

    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.171);

    border-radius: 12px;
    padding: 5px 20px 5px 20px;

    .active {
      background-color: var(--activeButton-background);
      color: var(--activeButton-text-color);
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      margin-left: 0;
      padding-left: 0;

      li {
        @include sort-font-styles;

        border: 1px solid #212121;
        border-radius: 12px;
        list-style-type: none;

        margin: 8px;
        padding: 10px;

        cursor: pointer;
      }
    }
  }
}
