@mixin button-style {
  background: #D7B399;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  
  &:hover{
    background-color: #f0aca6;
    transition: all 0.5s;
  }
  &:active{
    background-color: #f3c6c2;
    transform: translateY(2px);
    transition: all 0.01s;
  }
}

@mixin disabled-button-style {
  background-color: #b9b9b96c;
  cursor: auto;
  
  &:hover{
    background-color: #b9b9b96c;
  }
  &:active{
    transform: none;
  }
}

@mixin info-Block-style {
  background-color: #212121;
  color: #FFFFFF;
  
  margin-top: 50px;

}

@mixin sort-font-styles {
  font-weight: 500;
  font-size: 16px;
}

//#d7b39970 another variant background cards
$background-card: #dbd9d4;
$red: #D84033;
$grey: #F9F6F1;

